</div>
<div style="height: 20px"></div>
</paper-scroll-header-panel>
<script>
    document.addEventListener('WebComponentsReady', function () {
        console.log('polymer-ready');
    });
</script>
</body>
</html>
