<paper-toolbar>
    <paper-icon-button icon="menu"></paper-icon-button>
    <span title>The Blog (title)</span>
    <paper-icon-button icon="refresh"></paper-icon-button>
    <paper-icon-button icon="add">+</paper-icon-button>
</paper-toolbar>
