/*global module */

module.exports = {
    blogName   : 'Example Blog',
    baseUrl    : 'http://localhost:9091/',  // if your blog is at http://mysite.com/ then this should be http://mysite.com/
    http: {
        hostname: 'localhost',
        port: 9090,
        address: '0.0.0.0'
    },
    mysql: {
        // you will need to change these
        user : 'mschwartz',
        password : '',
        database : 'blog'
    },
    adminEmail: 'mykesx@gmail.com'  // where admin emails get sent
};
