<h1>{{comments.count}} Comments</h1>
{{#comments.count}}
    {{#comments}}
        <div class="post-comment">
            <p>By {{creatorInfo.displayName}} <span class="moment">{{created}}</span></p>

            <p>{{content}}</p>
        </div>
    {{/comments}}
{{/comments.count}}
{{#blogUser}}
<form>
    <div class="form-group">
        <label for="comment-text">Comment on this post:</label>
        <textarea rows="6" class="form-control" id="comment-body" placeholder="Enter your comment here"></textarea>
    </div>
    <span class="pull-right">
        <button id="post-comment-button" class="btn btn-primary">Post Comment</button>
    </span>
</form>
<script>
    $('#post-comment-button').on('click', function ( e ) {
        e.preventDefault();
    });
</script>
{{/blogUser}}
{{^blogUser}}
    <em>You must sign in to comment.</em>
{{/blogUser}}