{{#breadcrumb}}
    <ol class="breadcrumb">
{{/breadcrumb}}
{{#breadcrumb}}
    {{#active}}
        <li class="active">{{text}}</li>
    {{/active}}
    {{^active}}
        <li><<a href="url">{{text}}</a></li>
    {{/active}}
{{/breadcrumb}}
{{#breadcrumb}}
    </ol>
{{/breadcrumb}}