{{!-- Social Buttons --}}
<div>
    <a class="btn btn-social-icon btn-twitter">
        <i class="fa fa-twitter"></i>
    </a>
    <a class="btn btn-social-icon btn-facebook">
        <i class="fa fa-facebook"></i>
    </a>
    <a class="btn btn-social-icon btn-linkedin">
        <i class="fa fa-linkedin"></i>
    </a>
    <a class="btn btn-social-icon btn-danger">
        <i class="fa fa-envelope"></i>
    </a>
    <a class="btn btn-social-icon btn-google-plus">
        <i class="fa fa-google-plus"></i>
    </a>
    <a class="btn btn-social-icon btn-pinterest">
        <i class="fa fa-pinterest"></i>
    </a>
    <a class="btn btn-social-icon btn-reddit">
        <i class="fa fa-reddit"></i>
    </a>
</div>
