{{#tags.length}}
    <div class="tags">
        <i class="glyphicon glyphicon-tags"></i> <strong>Tags: </strong>
        {{#tags}}
            <a class="btn btn-primary btn-xs tag-button" href="/tags/{{name}}">{{name}}</a>
        {{/tags}}
    </div>
{{/tags.length}}
