<div class="panel panel-default">
    <div class="panel-heading">
        <i class="glyphicon glyphicon-tags"></i> <strong>Tags</strong>
    </div>
    <div class="panel-body">
        {{#tags}}
            <a class="btn btn-primary btn-xs tag-button" href="/tags/{{name}}">{{name}}</a>
        {{/tags}}
    </div>
</div>