{{>blog/header}}
<h1>Compose Blog Post</h1>

<form class="form-horizontal fuelux">
    {{! TITLE }}
    <div class="form-group">
        <label for="blog-title" class="col-sm-1 control-label">Title</label>

        <div class="col-sm-11">
            <input type="text" class="form-control" id="blog-title" placeholder="Title (required)">
        </div>
    </div>

    {{! SEO }}
    <div class="form-group">
        <label for="blog-seo" class="col-sm-1 control-label">SEO</label>

        <div class="col-sm-11">
            <div class="input-group">
                <input type="text" class="form-control" id="blog-seo" placeholder="SEO URO (required)"/>
            <span class="input-group-btn">
                <button id="blog-seo-generate-button" class="btn btn-default" type="button">
                    <i class="glyphicon glyphicon-refresh"></i>
                </button>
            </span>
            </div>
            <span class="help-block" style="margin-bottom: 0 !important">If you choose my-post as the SEO URL, then the URL to view this post will be {{baseUrl}}post/my-post</span>
        </div>
    </div>

    {{! SUBTITLE }}
    <div class="form-group">
        <label for="blog-subtitle" class="col-sm-1 control-label">Subtitle</label>

        <div class="col-sm-11">
            <input type="text" class="form-control" id="blog-subtitle" placeholder="Subtitle">
        </div>
    </div>

    {{! TAGS }}
    <div class="form-group">
        <label for="tags-pillbox" class="col-sm-1 control-label">Tags</label>

        <div class="col-sm-11">
            <div class="pillbox" id="tags-pillbox">
                <ul class="clearfix pill-group">
                    <li class="pillbox-input-wrap btn-group">
                        <a class="pillbox-more">and <span class="pillbox-more-count"></span> more...</a>
                        <input type="text" class="form-control dropdown-toggle pillbox-add-item" placeholder="Add tag">
                        <button type="button" class="dropdown-toggle sr-only">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="suggest dropdown-menu" role="menu" data-toggle="dropdown" data-flip="auto"></ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    {{! EDITOR }}
    <div id="summernote"></div>

    <div class="row" style="padding-top: 10px">
        <div class="col-sm-9">
            <div class="pull-right">
                <input id="blog-live" type="checkbox" checked="true" data-size="normal" data-on-text="Live" data-on-color="success" data-off-text="Draft" data-off-color="danger">
                <input id="blog-open" type="checkbox" checked="true" data-size="normal" data-on-text="Open" data-on-color="success" data-off-text="Closed" data-off-color="danger">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="pull-right">
                <!--<input id="edit-published-checkbox" type="checkbox" checked="true" data-size="small" data-on-text="Live" data-on-color="success" data-off-text="Draft" data-off-color="danger">-->
                <!--<input id="edit-open-checkbox" type="checkbox" checked="true" data-size="small" data-on-text="Open" data-on-color="success" data-off-text="Closed" data-off-color="danger">-->
                <!--<br/>-->
                <button id="save-post-button" class="btn btn-primary">Save Post</button>
                <button id="preview-post-button" class="btn btn-default">Preview Post</button>
                <button id="cancel-post-button" class="btn btn-danger">Cancel Post</button>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        console.log('compose ready');
        {{!--
           --  resize summernote on window resize
           --}}
        function resize() {
            // found this code: https://github.com/summernote/summernote/blob/5672e5dc347ed9be45e0ec278f7040d2ee20dee1/src/js/module/Fullscreen.js
            var $noteEditor   = $('.note-editor'),
                $codable      = $('.note-codable'),
                $editable     = $('.note-editable'),
                $toolbar      = $('.note-toolbar'),
                $footerBottom = $('#footer-bottom'),
                editorHeight  = $(window).height() - $noteEditor.position().top - $footerBottom.height() - $toolbar.height() - 125; //  - $footerBottom.position().top;

            $codable.height(editorHeight);
            $editable.height(editorHeight);
        }

        $(window).on('resize', resize);

        {{!--
           -- initialize sumemrnote
           --}}
        var $tagsPillbox  = $('#tags-pillbox'),
            $summernote   = $('#summernote'),
            $footerBottom = $('#footer-bottom'),
            editorHeight  = $(window).height() - $summernote.position().top - $footerBottom.height() - 125; //  - $footerBottom.position().top;

        $summernote.summernote({ height : editorHeight });

        $('#blog-live').bootstrapSwitch();
        $('#blog-open').bootstrapSwitch();

        $('#blog-seo-generate-button').on('click', function (e) {
            var title = $('#blog-title').val();

            title = title.replace(/\s+/g, '-');
            title = title.replace(/[^a-zA-Z0-9-]/g, '');
            $('#blog-seo').val(title.toLowerCase());
            e.preventDefault();
        });

        {{!--
           -- Tags Pillbox
           --}}
        var pillboxTypeahead = new DelayedTask(function ($pillbox, callback) {
            var me = this;

            if ($pillbox) {
                var val = $pillbox.val().trim();
                if (val.length) {
                    rpc('Tags.list', {
                        params  : {
                            pattern : val
                        },
                        success : function (response) {
//                            if (me.handle) {
                                var data = [];
                                $.each(response.list, function (ndx, item) {
                                    data.push({
                                        text : item.tagName
                                    });
                                });
                                callback({ data : data });
//                            }
                        }
                    })
                }
            }
        });

        $tagsPillbox.pillbox({
            edit      : true,
            onKeyDown : function (data, callback) {
                pillboxTypeahead.defer(200, $(data.event.currentTarget), callback);
            }
        });

        $tagsPillbox.on('added.fu.pillbox', function (e, data) {
            console.log('added ', arguments);
            pillboxTypeahead.cancel();
            setTimeout(function () {
                $('#tags-pillbox input').focus();
            }, 100)
        });

        {{!--
           -- SUBMIT
           --}}
        $('#save-post-button').on('click', function (e) {
            e.preventDefault();
            var o      = {
                    title         : $('#blog-title').val().trim(),
                    seo           : $('#blog-seo').val().trim(),
                    subtitle      : $('#blog-subtitle').val().trim(),
                    category      : $('#category-select').selectlist('selectedItem').value,
                    content       : $('#summernote').code(),
                    live          : $('#blog-live').bootstrapSwitch('state'),
                    open          : $('#blog-open').bootstrapSwitch('state'),
                    tags          : $('#tags-pillbox').pillbox('items').map(function (o) {
                        return { name : o.text };
                    }),
                    contentFormat : 'html'
                },
                errors = [];

            if (!o.title.length) {
                $('#blog-title').parent().addClass('has-error');
                errors.push('<li>Title is required</li>');
            }
            else {
                $('#blog-title').parent().removeClass('has-error');
            }

            if (!o.seo.length || o.seo.replace(/[0-9a-zA-Z-]/g, '').length) {
                $('#blog-seo').parent().addClass('has-error');
                errors.push('<li>SEO has invalid characters in it.  Only letters, numbers, and dash/hyphens allowed.</li>');
            }
            else {
                $('#blog-seo').parent().removeClass('has-error');
            }

            if (errors.length) {
                BootstrapDialog.alert({
                    type    : BootstrapDialog.TYPE_DANGER,
                    title   : 'Errors',
                    message : '<ul>' + errors.join('\n') + '</ul>'
                });
                return;
            }

//            console.dir(o);
            $.blockUI();
            rpc('Blog.save', {
                params  : {
                    post : o
                },
                success : function (o) {
                    $.unblockUI();
                    if (o.success) {
                        BootstrapDialog.alert({
                            title    : 'Success!',
                            message  : 'Post created',
                            callback : function () {
                                window.location.href = '/post/' + o.post.seo
                            }
                        });
                    }
                    else {
                        BootstrapDialog.alert({
                            type    : BootstrapDialog.TYPE_DANGER,
                            title   : 'Error',
                            message : o.message
                        });
                    }
                }
            })
        });

    });
</script>
{{>blog/footer}}
